<div class="gt-drawer-controls">
  <a href="#list" class="gt-tool gt-tool-list active gt-tooltip"><span>List</span></a>
</div>
<div class="gt-tool-controls">
  <button class="gt-tool gt-tool-polygon gt-tooltip"><span>New Polygon Tool</span></button>
  <button class="gt-tool gt-tool-radius gt-tooltip"><span>New Radius Tool</span></button>
</div>