<a href="#" class="gt-tool gt-tool-list active gt-tooltip"><span>List</span></a>
<a href="#" class="gt-tool gt-tool-create gt-tooltip"><span>Create</span></a>

<div class="gt-draw-tools">
  <a href="#" class="gt-tool gt-tool-polygon gt-tooltip"><span>Polygon</span></a>
  <a href="#" class="gt-tool gt-tool-radius gt-tooltip"><span>Radius</span></a>
  <!-- <a href="#" class="gt-tool gt-tool-drivetime gt-tooltip"><span>Drivetime</span></a> -->
</div>