<div class="gt-drawer-controls">
  <a href="#list" class="gt-tool gt-tool-list active gt-tooltip"><span>List</span></a>
  <a href="#new" class="gt-tool gt-tool-create gt-tooltip"><span>Create</span></a>
</div>
<div class="gt-tool-controls">
  <button class="gt-tool gt-tool-polygon gt-tooltip"><span>Polygon</span></button>
  <button class="gt-tool gt-tool-radius gt-tooltip"><span>Radius</span></button>
</div>