<div class='gt-panel-top-bar'>
  <a href='#list' class='gt-panel-top-bar-button gt-back-to-list'></a>
  <h3>Edit</h3>
  <a href='#' class='gt-panel-top-bar-button gt-close-drawer'></a>
</div>

<div class='gt-panel-content'>
  <form>
    <input type='text' name='properties[title]' placeholder='Title' class='gt-trigger-title-input' value='{{properties.title}}'>
    <span class='gt-tag-label'>When a device tagged</span>
    <input type='text' name='tags' placeholder='enter tags' class='gt-tag-input' value='{{tagList tags}}'>

    <label for='event' class='left'>
      <select name='condition[direction]' class='gt-event'>
        <option disabled='disabled'>select a condition</option>
        {{#select condition.direction}}
        <option value='enter'>enters</option>
        <option value='leave'>leaves</option>
        {{/select}}
      </select>
      <select name='geometry-type' class='gt-geometry-type'>
        <option value='default' disabled='disabled'>select a geometry</option>
        {{#selectShape condition}}
        <option value='polygon'>a polygon</option>
        <option value='radius'>a distance of</option>
        {{/selectShape}}
      </select>
    </label>

    <select name='action-selector' class='gt-action'>
      <option disabled='disabled'>choose an action</option>
      {{#select action}}
      <option value='notification'>send the device a message</option>
      <option value='callbackUrl'>post to a server</option>
      <option value='trackingProfile'>change tracking profile</option>
      {{/select}}
    </select>
    <span>:</span>

    <label class='gt-action gt-action-message' for='message'>
      <textarea class='gt-action-message-box' name='action[notification][text]' placeholder='message'>{{action.notification.text}}</textarea>
    </label>

    <label class='gt-action gt-action-callback gt-hide' for='url'>
      <input type='text' name='action[callbackUrl]' placeholder='url (optional)'>
    </label>

    <label class='gt-action gt-action-profile gt-hide' for='url'>
      <span>to</span>
      <select class='gt-action-profile-selector' name='action[trackingProfile]'>
        <option disabled='disabled'>choose a tracking profile</option>
        {{#select action.trackingProfile}}
        <option value='fine'>fine</option>
        <option value='adaptive'>adaptive</option>
        <option value='rough'>rough</option>
        <option value='off'>off</option>
        {{/select}}
      </select>
    </label>
    <button class='gt-button gt-button-blue gt-submit'>Update</button>
    <ul class='gt-edit-controls'>
      <li>
        <input type='reset' class='gt-item-clear gt-button-clear' value='Reset'>
      </li>
      <li>
        <a class='gt-reset-delete' href='#'>&#x2716;</a>
      </li>
      <li>
        <button class='gt-item-delete gt-button-delete'></button>
      </li>
    </ul>
  </form>
</div>