<div class="gt-panel-wrap"> <!-- add .gt-panel-active to use second panel -->
  <div class="gt-panel gt-panel-1">
    <!-- templates/list-panel.hbs -->
  </div>

  <div class="gt-panel gt-panel-2">
    <!-- templates/edit-trigger.hbs -->
  </div>
</div>