<div class="gt-panel-top-bar">
  <a href="#" class="gt-panel-top-bar-button gt-new-trigger"></a>
  <h3>No Geotriggers</h3>
  <a href="#" class="gt-panel-top-bar-button gt-close-drawer"></a>
</div>

<div class="gt-panel-no-triggers">
  <h5>This application doesn't have any Geotriggers yet.</h5>
   <a href="#new" class="gt-tool gt-tool-create gt-button gt-button-green">Create A New Trigger</a>
</div>

<ul class="gt-tool-descriptions">
  <li class="gt-tool-description">
    <span class="gt-icon gt-icon-create"></span>
    <h5><a class="gt-tool gt-tool-create"href="#">New Geotrigger Tool</a></h5>
    <p>Create a new Geotrigger by first entering it's information, than defining an area on the map.</p>
  </li>

  <li class="gt-tool-description">
    <span class="gt-icon gt-icon-polygon"></span>
    <h5><a class="gt-tool gt-tool-polygon"href="#">Polygon Tool</a></h5>
    <p>Click to start drawing on the map, creating each point of a polygon. Click on the first point to close the shape and enter the Geotrigger information.</p>
  </li>

  <li class="gt-tool-description">
    <span class="gt-icon gt-icon-radius"></span>
    <h5><a class="gt-tool gt-tool-radius"href="#">Radius Tool</a></h5>
    <p>Select a point on the map, than hold and drag to define a radius around that point. You can edit this radius later, if you want.</p>
  </li>

  <!-- <li class="gt-tool-description">
    <span class="gt-icon gt-icon-drivetime"></span>
    <h5><a class="gt-tool gt-tool-drivetime"href="#">Drivetime Tool</a></h5>
    <p>Drop a marker on the map, and then enter your desired drive time from that marker. We'll compute that polygon for you.</p>
  </li> -->
</ul>

