<div class="gt-panel-top-bar">
  <h3 class="gt-panel-top-bar-left">List <span class="gt-trigger-count"></span></h3>
  <a href="#" class="gt-panel-top-bar-button gt-close-drawer"></a>
</div>

<div class="gt-panel-no-triggers">
  <h5>This application doesn't have any Geotrigger rules yet.</h5>
</div>

<ul class="gt-tool-descriptions">
  <li class="gt-tool-description">
    <span class="gt-icon gt-icon-create"></span>
    <h5>Create a New Trigger</h5>
    <p>Create a new Geotrigger rule by first using one of the drawing tools, then defining its properties in the form that appears.</p>
  </li>

  <li class="gt-tool-description">
    <span class="gt-icon gt-icon-polygon"></span>
    <h5>Using the Polygon Tool</h5>
    <p>Click on the map to create each point of a polygon. Click on the first point you created to close the shape.</p>
  </li>

  <li class="gt-tool-description">
    <span class="gt-icon gt-icon-radius"></span>
    <h5>Using the Radius Tool</h5>
    <p>Click a point on the map, then hold and drag to define a radius around that point.</p>
  </li>
</ul>
