<div class="gt-panel-top-bar">
  <h3>No Geotrigger rules</h3>
  <a href="#" class="gt-panel-top-bar-button gt-close-drawer"></a>
</div>

<div class="gt-panel-no-triggers">
  <h5>This application doesn't have any Geotrigger rules yet.</h5>
   <a href="#new" class="gt-tool gt-tool-create gt-button gt-button-green">Create A New Geotrigger rule</a>
</div>

<ul class="gt-tool-descriptions">
  <li class="gt-tool-description">
    <span class="gt-icon gt-icon-create"></span>
    <h5><a class="gt-tool gt-tool-create"href="#">New Geotrigger Tool</a></h5>
    <p>Create a new Geotrigger rule by first entering its information, than defining an area on the map.</p>
  </li>

  <li class="gt-tool-description">
    <span class="gt-icon gt-icon-polygon"></span>
    <h5><a class="gt-tool gt-tool-polygon"href="#">Polygon Tool</a></h5>
    <p>Click to start drawing on the map, creating each point of a polygon. Click on the first point to close the shape and define the Geotrigger rule.</p>
  </li>

  <li class="gt-tool-description">
    <span class="gt-icon gt-icon-radius"></span>
    <h5><a class="gt-tool gt-tool-radius"href="#">Radius Tool</a></h5>
    <p>Select a point on the map, than hold and drag to define a radius around that point. This radius can be changed later if needed.</p>
  </li>
</ul>

