<span class="gt-item-edit gt-icon gt-icon-enter gt-icon-polygon"></span>
<h5><a class="gt-item-edit" href="#">{{condition.direction}} Polygon 442 SE 42nd</a></h5>
<ul class="gt-tags">
  {{#each tags}}
  <li>{{this}}</li>
  {{/each}}
</ul>
<ul class="gt-item-controls">
	<li><a class="gt-reset-delete" href="#">&#x2716;</a></li>
	<li><a class="gt-item-delete gt-button-small" href="#"></a></li>
</ul>