<span class="gt-icon gt-icon-enter gt-icon-polygon"></span>
<h5><a href="#">{{condition.direction}} Polygon 442 SE 42nd</a></h5>
<ul class="gt-tags">
  {{#each tags}}
  <li>{{this}}</li>
  {{/each}}
</ul>
<a class="gt-item-edit" href="#">edit</a>
<a class="gt-item-delete" href="#">delete</a>