<span class="gt-item-edit gt-icon {{actionIcon condition.direction}} gt-icon-polygon"></span>
<h5>
  <a class="gt-item-edit" href="#">
    {{#unless properties.title}}
    untitled trigger
    {{else}}
    {{properties.title}}
    {{/unless}}
  </a>
</h5>
<ul class="gt-tags">
  {{#each tags}}
  {{#unlessDefaultTag this}}
  <li>{{this}}</li>
  {{/unlessDefaultTag}}
  {{/each}}
</ul>
<ul class="gt-item-controls">
	<li><a class="gt-reset-delete" href="#">&#x2716;</a></li>
	<li><a class="gt-item-delete gt-button-small" href="#"></a></li>
</ul>