<div class="gt-panel-top-bar">
  <a href="#" class="gt-panel-top-bar-button gt-new-trigger"></a>
  <h3>List</h3>
  <a href="#" class="gt-panel-top-bar-button gt-close-drawer"></a>
</div>
<div class="gt-search">
  <input type="search"></input>
</div>
<div class='gt-results'>
  <ul>
    <li class="gt-result">
      <span class="gt-icon gt-icon-enter gt-icon-polygon"></span>
      <h5><a href="#">Enter Polygon 442 SE 42nd</a></h5>
      <ul class="gt-tags">
        <li>tag1</li>
        <li>tag2</li>
      </ul>
    </li>
    <li class="gt-result">
      <span class="gt-icon gt-icon-enter gt-icon-radius"></span>
      <h5><a href="#">Enter Radius of 4555 SW Morrison</a></h5>
      <ul class="gt-tags">
        <li>tag1</li>
        <li>tag2</li>
      </ul>
    </li>
    <li class="gt-result">
      <span class="gt-icon gt-icon-enter gt-icon-drivetime"></span>
      <h5><a href="#">Enter 5 Minutes Drivetime of 266 Harrison Drive</a></h5>
      <ul class="gt-tags">
        <li>tag1</li>
        <li>tag2</li>
        <li>tag1</li>
        <li>tag2</li>
        <li>tag1</li>
        <li>tag2</li>
        <li>tag1</li>
        <li>tag2</li>
        <li>tag1</li>
        <li>tag2</li>
        <li>tag1</li>
        <li>tag2</li>
      </ul>
    </li>
    <li class="gt-result">
      <span class="gt-icon gt-icon-exit gt-icon-radius"></span>
      <h5><a href="#">Exit 10 Mile Radius of 544 Killingsworth St.</a></h5>
      <ul class="gt-tags">
        <li>tag1</li>
        <li>tag2</li>
      </ul>
    </li>
    <li class="gt-result">
      <span class="gt-icon gt-icon-exit gt-icon-polygon"></span>
      <h5><a href="#">Exit 5 Point Polygon </a></h5>
      <ul class="gt-tags">
        <li>tag1</li>
        <li>tag2</li>
      </ul>
    </li>
    <li class="gt-result">
      <span class="gt-icon gt-icon-exit gt-icon-drivetime"></span>
      <h5><a href="#">Exit Drivetime of Target</a></h5>
      <ul class="gt-tags">
        <li>tag1</li>
        <li>tag2</li>
      </ul>
    </li>
  </ul>
</div>