<div class="gt-list-header gt-hide">
  <div class="gt-panel-top-bar">
    <h3 class="gt-panel-top-bar-left">List</h3>
    <a href="#" class="gt-panel-top-bar-button gt-close-drawer"></a>
  </div>
  <div class="gt-search">
    <input type="search"></input>
  </div>
</div>
<ul class="gt-results"></ul>