<div class="gt-panel-top-bar">
  <a href="#" class="gt-panel-top-bar-button gt-new-trigger"></a>
  <h3>List</h3>
  <a href="#" class="gt-panel-top-bar-button gt-close-drawer"></a>
</div>
<div class="gt-search">
  <input type="search"></input>
</div>
<ul class="gt-results"></ul>