<div class="gt-list-header gt-hide">
  <div class="gt-panel-top-bar">
    <h3 class="gt-panel-top-bar-left">List <span class="gt-trigger-count">({{count}})</span></h3>
    <a href="#new" class="gt-button gt-button-blue gt-tool-create">Create</a>
    <a href="#" class="gt-panel-top-bar-button gt-close-drawer"></a>
  </div>
  <div class="gt-search">
    <input type="search" placeholder="Search"><a href="#list" class="gt-icon-clear"></a>
  </div>
</div>
<ul class="gt-results"></ul>