<div id='gt-controls-region' class='gt-region'></div>
<div id='gt-content'>
  <div id='gt-drawer-region' class='gt-region'></div>
  <div id='gt-map-region'></div>
  <div id='gt-notes-region' class='gt-region'></div>
</div>
