<div class='gt-panel-top-bar'>
  <a href='#list' class='gt-panel-top-bar-button gt-back-to-list'></a>
  <h3>Create</h3>
  <a href='#' class='gt-panel-top-bar-button gt-close-drawer'></a>
</div>

<div class='gt-panel-content'>
  <form class='gt-form gt-form-new'>
    <section class='gt-form-section'>
      <label for='tags'>
        <span>When a device tagged</span>
        <input type='text' name='setTags' placeholder='tag 1, tag 2..' class='gt-tag-input'>
      </label>

      <select name='condition[direction]' class='gt-event'>
        <option value='enter' selected>enters</option>
        <option value='leave'>leaves</option>
      </select>

      <span>a</span>

      <select name='geometry-type' class='gt-geometry-type'>
        <option value='polygon' selected>polygon</option>
        <option value='radius'>circle</option>
      </select>

      <span>, </span>

      <!-- <input type='text' name='radius' class='gt-radius'> -->

      <!-- <button class='gt-button gt-button-clear gt-add-action'>add an action</button> -->

      <select class='gt-action-selector'>
        <option value='notification' selected>send the device a message</option>
        <option value='callbackUrl'>post to a server</option>
        <option value='trackingProfile'>change tracking profile</option>
      </select>
      <span>:</span>

      <label class='gt-action gt-action-notification' for='message'>
        <textarea class='gt-action-message-box' name='action[notification][text]' placeholder='message'></textarea>
      </label>

      <label class='gt-action gt-action-callbackUrl gt-hide' for='url'>
        <input type='text' name='action[callbackUrl]' placeholder='url (optional)'>
      </label>

      <label class='gt-action gt-action-trackingProfile gt-hide' for='url'>
        <span>to</span>
        <select class='gt-action-profile-selector' name='action[trackingProfile]'>
          <option disabled='disabled' selected>choose a tracking profile</option>
          <option value='fine'>fine</option>
          <option value='adaptive'>adaptive</option>
          <option value='rough'>rough</option>
          <option value='off'>off</option>
        </select>
      </label>

      <!--
      <label for='date'>
        This will start
        <select class='gt-date-start'>
          <option value='now'>now</option>
          <option value='future'>in the future</option>
        </select>
        and persist
        <select class='gt-date-end'>
          <option value='never'>indefinitely</option>
          <option value='future'>until a future date</option>
        </select>
      </label>
      -->

      <label for='title'>
        Nickname (optional):
        <input type='text' name='properties[title]' placeholder='Title' class='gt-trigger-title-input'>
      </label>
    </section>

    <hr>

    <section class='gt-form-section'>
      <button class='gt-button gt-button-blue gt-submit'>Submit</button>
      <!-- <ul class='gt-edit-controls'>
        <li>
          <input type='reset' class='gt-item-clear gt-button-clear' value='Reset'>
        </li>
      </ul> -->
    </section>
  </form>
</div>