#gt-notes-region {
  height: auto;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 300px;
}

.gt-active {
  #gt-notes-region {
    padding-left: 40%;
  }
}

.gt-notification-list {
  list-style-type: none;
}

.gt-notification {
  @include border-radius(0);
  background-color: $green;
  color: $white;

  &.error {
    background-color: rgba(180, 20, 20, 1);
    color: white;
  }

  .gt-close {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: #fafafa;
    float: right;
    margin-top: -3px;
    margin-right: -12px;
    opacity: 0.75;
    -webkit-appearance: none;
    &:hover {
      opacity: 1;
    }
  }
}