

.gt-notification {
  @include border-radius(0);
  background-color: $green;
  color: $white;

  &.error {
    background-color: rgba(180, 20, 20, 1);
    color: white;
  }

  .gt-close {
    color: #fafafa;
    margin-top: -3px;
    margin-right: -12px;
  }
}