/* - - - - - - - - - - Panel - - - - - - - - - - */
.gt-panel {
  background: $lightest-gray;
}

/* - - - - - - - - - - Panel Top Bar - - - - - - - - - - */
.gt-panel-top-bar {
  width:100%;
  height:62px;
  line-height:62px;
  overflow: hidden;
  @include box-sizing(border-box);
  background-color:$white;
  border-bottom: 1px solid $lighter-gray;
  h3 {

  }
}

