/* - - - - - - - - - - Left Toolbar - - - - - - - - - - */
#gt-controls-region {
  background:$green;
  border-right:1px solid $green;
}

.gt-tool {
  border:none;
  background-color:$green;
  color:$white;
  opacity:0.7;
  border-top:none;
  border-bottom:1px solid $green;
  &.gt-active {
    background-color:#0C8068;
    opacity: 1;
    &:before {
      opacity:1;
    }
  }
}