.gt-region {
  .gt-button {
    cursor: pointer;
    display: inline-block;
    padding:1em;
    margin-top:1em;
    background-color:$dark-gray;
    color:white;
    @include border-radius(3px);
    border:1px solid darken($dark-gray, 10%);
    text-decoration: none;
    font-family:$body-font;
    font-size: 0.85em;
    @include transition(background-color 200ms linear);
    &.gt-button-green {
      background-color:$green;
      border:1px solid darken($green, 10%);
      &:hover {
        background-color: darken($green, 10%);
      }
    }
    &.gt-button-blue {
      background-color:$blue;
      border:1px solid darken($blue, 10%);
      &:hover {
        background-color: darken($blue, 10%);
      }
    }
    &.gt-button-red {
      background-color:$red;
      border:1px solid darken($red, 10%);
      &:hover {
        background-color: darken($red, 10%);
      }
    }
    &.gt-button-disabled,
    &.gt-button:disabled {
      background-color: $lightest-gray;
      border: 1px solid darken($lightest-gray, 10%);
      color: $light-gray;
      &:hover {
        background-color: $lightest-gray;
      }
    }
    &.gt-button-gray {
      background-color: $gray;
      border: 1px solid darken($gray, 10%);
      &:hover {
        background-color: darken($gray, 10%);
      }
    }
    &.gt-button-light-gray {
      background-color: $light-gray;
      border: 1px solid darken($light-gray, 10%);
      color: $gray;
      &:hover {
        background-color: darken($light-gray, 10%);
      }
    }
  }

  .gt-button-delete {
    @extend .gt-button;
    padding: 1em;
    background-color: $light-gray;
    border: 1px solid darken($light-gray, 10%);
    @include transition(background-color 200ms linear);
    &:hover {
      background-color: darken($light-gray, 10%);
    }
  }

  .gt-button-clear {
    @extend .gt-button-delete;
    margin-top: 0px;
  }

  .gt-submit {
    float: right;
  }

  .gt-button-small {
    padding: 0.5em;
  }
}
