.gt-region {
  .gt-edit-icon {
    background: image-url('settings.png') no-repeat center center transparent;
    background-size: 16px;
    display: inline-block;
    height: 16px;
    opacity: .8;
    width: 16px;

    @include transition(opacity 100ms linear);

    @include retina-display { background-image: image-url('settings@2x.png'); }

    &:hover {
      opacity: 1;
    }
  }

  .gt-delete-icon {
    @extend .gt-edit-icon;

    background-image: image-url('trash.png');
    margin-left: 6px;

    @include retina-display { background-image: image-url('trash@2x.png'); }
  }
}
