.gt-tooltip {
  span {
    display:none;
    z-index:10;
    padding:14px 20px;
    color:$white;
    font-size: 14px;
    @include border-radius(4px);
    @include box-shadow(0 0 12px rgba(0,0,0,0.2));
    padding: 14px 20px;
    margin-top: -21px;
    left: 80px;
    width: auto;
    white-space: nowrap;
    background-color: $dark-gray;
    background-color: rgba(0,0,0,.8);
    position:absolute;
    &:before {
      content: "";
      display:inline-block;
      width:0;
      height:0;
      border: 8px solid transparent;
      border-right-color: $black; // fallback
      border-right-color: rgba(0,0,0,.8);
      position:absolute;
      left: -8px;
      top: 50%;
      margin-top: -8px;
    }
  }
  &:hover span {
    display:inline;
    &:hover {
      display:none;
    }
  }
}


