/* - - - - - - - - - Basic Typography - - - - - - - */
.gt-region {
  font-family: $body-font;
  color: $body-color;
  font-weight: $body-weight;
  font-size: $body-size;

  h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    line-height: 1em;
    color: $header-color;
    font-weight: $header-weight;
    font-size: $header-size;
  }

  h5 {
    font-size: 1.25em;
    line-height: 1.5em;
  }
}
