<div data-action-type="callbackUrl" class='gt-trigger-action'>
  <span class='gt-label-left'>post to this callback URL</span>

  <label for='gt-postUrl-action'>
    <input class='gt-input-fill' type='text' name='action[callbackUrl]' placeholder='http://' value='{{action.callbackUrl}}'>
  </label>

  <a class="gt-remove-action">x</a>
</div>