<div data-action-type="callbackUrl" class='gt-property'>
  <div class="gt-property-header">
    notify this URL
    <a class="gt-remove-action gt-delete-icon"></a>
  </div>

  <div class="gt-property-item">
    <input class='gt-input-fill' type='text' name='action[callbackUrl]' placeholder='http://' value='{{action.callbackUrl}}'>
  </div>
</div>