<div class="gt-trigger-action">
  <label for="action">
    send a notification to the device with
  </label>

  <div class="gt-notification-actions">
    {{>notification}}
  </div>

  <!-- Add Next Notification Action -->
  <div class="gt-add-notification-action">
    <a href="#">+ add a notification</a>
  </div>
</div>