<div data-action-type="trackingProfile" class='gt-trigger-action'>
  <span class='gt-label-left'>change the device's tracking profile to</span>

  <select class='gt-input-left' name='action[trackingProfile]'>
    <option>---</option>
    {{#select action.trackingProfile}}
    <option value='fine'>fine</option>
    <option value='adaptive'>adaptive</option>
    <option value='rough'>rough</option>
    <option value='off'>off</option>
    {{/select}}
  </select>

  <a class="gt-remove-action">x</a>
</div>