<div class='gt-panel-top-bar'>
  <a href='#list' class='gt-panel-top-bar-button gt-back-to-list'></a>
  <h3>{{#if triggerId}}Edit{{else}}Create{{/if}}</h3>
  <a href='#' class='gt-panel-top-bar-button gt-close-drawer'></a>
</div>

<div class='gt-panel-content'>
  <form class='gt-form gt-form-edit'>
    <section class='gt-form-section gt-conditions'>
      <div class='gt-trigger-conditions'>
        <label for='tags'>
          <span class='gt-label-left'>When a device tagged</span>
          <input type='text' name='tags' placeholder='enter tags' class='gt-input-right' value='{{tagList tags}}'>
        </label>

        <label for='condition'>
          <select name='condition[direction]' class='gt-direction'>
            {{#select condition.direction}}
            <option value='enter'>enters</option>
            <option value='leave'>leaves</option>
            {{/select}}
          </select>

          <span>a</span>

          <select name='geometry-type' class='gt-input-right'>
            {{#selectShape condition}}
            <option value='polygon'>polygon</option>
            <option value='radius'>circle</option>
            {{/selectShape}}
          </select>
        </label>
      </div>
    </section>

    <section class="gt-form-section gt-actions"></section>

    <section class='gt-form-section gt-nick-wrapper'>
      <label for='title'>
        <span class='gt-label-left'>Title <em>(optional)</em></span>
        <input class='gt-input-right' type='text' name='properties[title]' placeholder='My Cool Trigger' value='{{properties.title}}'>
      </label>
    </section>

    <section class='gt-form-section'>
      {{#if triggerId}}
      <button class='gt-button gt-button-blue gt-submit'>Update</button>
      <ul class='gt-edit-controls'>
        <li>
          <a class='gt-reset-delete' href='#'>&#x2716;</a>
        </li>
        <li>
          <button class='gt-item-delete gt-button-delete'></button>
        </li>
      </ul>
      {{else}}
      <button class='gt-button gt-button-blue gt-submit' disabled>Save</button>
      {{/if}}
    </section>
  </form>
</div>