/* - - - - - - - - - - Basic Reset - - - - - - - - - - */
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; zoom: 1; }
a:hover, a:active { outline: 0; }
svg:not(:root) {
    overflow: hidden;
}
a, abbr, acronym, address, b, big, cite, code, del, em, i, ins, kbd, mark, output, q,
samp, small, strike, strong, sub, sup, time, tt, var,
dfn, dl, dt, dd, ol, ul, li,
blockquote, h1, h2, h3, h4, h5, h6, p, pre,
applet, canvas, embed, figure, figcaption, iframe, img, object {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  line-height: 1.0;
  vertical-align: baseline;
  background: transparent;
  border: 0;
}

/* - - - - - - - - - Basic Typography - - - - - - - */
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #3b3b3b;
  line-height: 1em;
}
h5 {
  font-size: 1.25em;
  line-height: 1.5em;
}

html, body {
  background: #ddd;
  padding: 0;
  margin: 0;
  line-height: 1;
}
#site-header {
  background: #466;
  height: 50px;
  border-bottom: 1px solid #355;
  border-bottom: 1px solid rgba(50,100,100,.5);
}
#site-header h1 {
  color: #fff;
  font: 100 22px/1 "Open Sans", Arial, Helvetica, sans;
  padding: 12px 0 0 24px;
}
#example {
  padding: 24px;
  width: 300px;
}
#example input {
  background: #eee;
  font-family: "Open Sans", Arial, Helvetica, sans;
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
#example .engage {
  display: inline-block;
  padding: 1em;
  margin-top: 1em;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.85em;
  color: white;
  text-decoration: none;
  background-color: #3b3b3b;
  background-color: #1a9b81;
  border: 1px solid #222222;
  border: 1px solid #136f5d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
#example .engage:hover {
  background-color: #136f5d;
}
#gt-editor {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}
