.gt-button {
  &.gt-button-blue {
    background-color:$green;
    border: none;
    &:hover {
      background-color: darken($green, 10%);
      border:none;
    }
  }
}
.gt-button-delete {
  @extend .gt-button;
  padding: 1em;
  background-color: $light-gray;
  border: 1px solid darken($light-gray, 10%);
  @include transition(background-color 200ms linear);
  &:hover {
    background-color: darken($light-gray, 10%);
  }
}