.gt-panel {
  input[type='email'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='url'],
  input[type='color'],
  input[type='date'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  select,
  textarea{
    @include box-sizing(border-box);
    @include transition(all 100ms linear);
    @include border-radius(0);
    font-size: 1em;
    border: none;
    border-bottom: 2px dashed $light-gray;
    display: inline-block;
    margin-top:1em;
    outline: none;
    outline-offset: 0;
    padding: 0 0 0.5em 0;
    background-color: rgba(0, 0, 0, 0);
    color: $darkest-gray;
    &:focus {
      border:none;
      color: $green;
      border-bottom: 2px dashed $green;
    }
  }

  select {
    @include box-sizing(border-box);
    border-width: 2px;
    border-color: $light-gray;
    padding:0 20px 0 4px;
    -webkit-appearance: none;
    line-height:33px;
    height: 33px;
    background-size:24px;
    margin-top:1em;
    margin-left:-4px;
    color:$darkest-gray;
  }
}