.gt-tooltip {
  span {
    color:$white;
    @include border-radius(0);
    @include box-shadow(0 0 12px rgba(0,0,0,0.2));
    background-color: $green;
    &:before {
      border-right:8px solid $green;
      border-bottom:8px solid transparent;
      border-top:8px solid transparent;
    }
  }
}
