<div data-notification-type='data' class='gt-notification-action'>
  <div class='gt-notification-left'>
    <label for='gt-notification-action'>
      <span class='gt-label-left'>some data:</span>
    </label>
  </div>

  <div class='gt-notification-right'>
    <textarea class='gt-input' name='action[notification][data]' placeholder='{ "your": "data" }'>{{action.notification.data}}</textarea>
  </div>

  <a class="gt-remove-notification">x</a>
</div>