<div data-notification='data' class='gt-property-item gt-notification-action'>
  <label class="gt-notification-left" for='action[notification][data]'>
    <span class='gt-label-left'>some data:</span>
  </label>

  <div class="gt-notification-center">
    <textarea class='gt-input' name='action[notification][data]' placeholder='{ "your": "data" }'>{{action.notification.data}}</textarea>
  </div>

  <div class='gt-notification-right'>
    <a class="gt-remove-notification gt-delete-icon"></a>
  </div>
</div>