<div data-notification-type='icon' class='gt-property-item gt-notification-action'>
  <label class="gt-notification-left" for='action[notification][icon]'>
    <span class='gt-label-left'>icon:</span>
  </label>

  <div class='gt-notification-center'>
    <input class='gt-input' type='text' name='action[notification][icon]' placeholder='icon' value='{{action.notification.icon}}'>
  </div>

  <div class='gt-notification-right'>
    <a class="gt-remove-notification gt-delete-icon"></a>
  </div>
</div>