<div class='gt-notification-action'>
  <div class='gt-notification-left'>
    <label for='gt-notification-action'>
      <span class='gt-label-left'>an icon:</span>
    </label>
  </div>

  <div class='gt-notification-right'>
    <input class='gt-input' type='text' name='action[notification][icon]' placeholder='icon' value='{{action.notification.icon}}'>
  </div>
</div>