<div class="gt-trigger-action">
  <label for="action">send a notification to the device with</label>

  <div class="gt-notification-actions"></div>

  <button class="gt-button gt-button-small gt-add-notification">+ add a notification</button>
</div>