<div data-action="notification" class="gt-property">
  <div class="gt-property-header">
    send a notification to the device with..
    <a class="gt-remove-action gt-delete-icon"></a>
  </div>

  <div class="gt-notification-actions"></div>

  <div class="gt-property-item gt-btn-group">
    <button data-notification="text" class="gt-button gt-button-light-gray gt-button-small gt-add-notification">&#043; a message</button>
    <button data-notification="url" class="gt-button gt-button-light-gray gt-button-small gt-add-notification">&#043; a URL</button>
    <button data-notification="data" class="gt-button gt-button-light-gray gt-button-small gt-add-notification">&#043; some data</button>
    <button data-notification="icon" class="gt-button gt-button-light-gray gt-button-small gt-add-notification">&#043; an icon</button>
    <button data-notification="sound" class="gt-button gt-button-light-gray gt-button-small gt-add-notification">&#043; a sound</button>
  </div>
</div>