<div data-action-type="notification" class="gt-property">
  <div class="gt-property-header">
    send a notification to the device
    <a class="gt-remove-action gt-delete-icon"></a>
  </div>

  <div class="gt-notification-actions"></div>

  <button class="gt-button gt-button-gray gt-button-small gt-add-notification">&#043;</button>
</div>