<div class='gt-notification-action'>
  <div class='gt-notification-left'>
    <label for='gt-notification-action'>
      <span class='gt-label-left'>a sound:</span>
    </label>
  </div>

  <div class='gt-notification-right'>
    <input class='gt-input' type='text' name='action[notification][sound]' placeholder='sound' value='{{action.notification.sound}}'>
  </div>
</div>