<div data-notification-type='text' class='gt-notification-action'>
  <div class='gt-notification-left'>
    <label for='gt-notification-action'>
      <span class='gt-label-left'>a message:</span>
    </label>
  </div>

  <div class='gt-notification-right'>
    <textarea class='gt-action-message-box' name='action[notification][text]' placeholder='message'>{{action.notification.text}}</textarea>
  </div>

  <a class="gt-remove-notification">x</a>
</div>