<div data-notification-type='text' class='gt-property-item gt-notification-action'>
  <label class="gt-notification-left" for='action[notification][text]'>
    <span class='gt-label-left'>text:</span>
  </label>

  <div class='gt-notification-center'>
    <textarea class='gt-action-message-box' name='action[notification][text]' placeholder='message'>{{action.notification.text}}</textarea>
  </div>

  <div class='gt-notification-right'>
    <a class="gt-remove-notification gt-delete-icon"></a>
  </div>
</div>