<div data-notification='url' class='gt-property-item gt-notification-action'>
  <label class="gt-notification-left" for='action[notification][url]'>
    <span class='gt-label-left'>a URL:</span>
  </label>

  <div class='gt-notification-center'>
    <input class='gt-input' type='text' name='action[notification][url]' placeholder='http://' value='{{action.notification.url}}'>
  </div>

  <div class='gt-notification-right'>
    <a class="gt-remove-notification gt-delete-icon"></a>
  </div>
</div>