<div data-notification-type='url' class='gt-notification-action'>
  <div class='gt-notification-left'>
    <label for='gt-notification-action'>
      <span class='gt-label-left'>a URL:</span>
    </label>
  </div>

  <div class='gt-notification-right'>
    <input class='gt-input' type='text' name='action[notification][url]' placeholder='http://' value='{{action.notification.url}}'>
  </div>

  <a class="gt-remove-notification">x</a>
</div>