/* - - - - - - - - - - Drawer - - - - - - - - - - */
.gt-drawer {
  box-sizing:border-box;
  position:absolute;
  z-index:2;
  width:40%;
  overflow:hidden;
  top:0;
  bottom:0;
  left:70px;
  opacity:0;
  background-color:transparent;
  @include transform(translate3D(-100%,0,0));
  @include transition(transform 300ms ease-in, opacity 400ms ease-in);
  @include box-shadow(0 0 12px rgba(0,0,0,0.2));
  &.open {
    @include transform(translate3D(0,0,0));
    @include transition(transform 300ms ease-in, opacity 300ms ease-in);
    opacity:1;
  }
}