/* - - - - - - - - - - Form Styles - - - - - - - - - - */
// .gt-trigger-title-input {
//   width: 100%;
//   margin-bottom: 1em;
// }
// .gt-tag-label {
//   margin-right: 3%;
//   width: 40%;
//   display: inline-block;
//   margin-top: 1.25rem;
// }
// .gt-tag-input {
//   width:55%;
//   float:right;
// }
// .gt-event {
//   width:39%;
//   margin-right:5%;
// }
// .gt-geometry-type {
//   width:55%;
//   float:right;
// }
// .gt-action-selector {
//   width:60%;
// }
// .gt-date-start {
//   width:23%;
//   margin-left:3%;
//   margin-right:3%;
// }
// .gt-date-end {
//   width:30%;
//   margin-left: 3%;
// }

// .gt-action-profile-selector {
//   width:30%;
//   margin-left: 3%;
// }

.gt-form {
  .gt-form-section {
    @include clearfix;
  }

  input, select {
    display: inline-block;
    width: auto;
  }

  // label {
  //   input, select {
  //     width: 100%;
  //   }
  // }

  .gt-radius {
    display: none;
  }

  .gt-submit {
    float: right;
  }
}