.gt-form {
  .gt-form-section {
    @include clearfix;
  }

  input, select, textarea {
    margin: 0;

    &.gt-input-left {
      margin-right: 1em;
    }

    &.gt-input-right {
      width: 50%;
      float: right;
    }
  }

  select {
    width: auto;
    padding: 0.25em 0;

    &.gt-direction {
      margin-right: 1.5%;
      // width: 38%;
    }

    &.gt-geometry-type {
      width: 55%;
      float: right;
    }
  }

  label {
    @include clearfix;
    margin: 0 0 1.5em;
  }

  textarea {
    margin: 0;
  }

  .gt-nick-wrapper {
    border: 1px solid $lighter-gray;
    border-width: 1px 0;
    margin: .5em 0 .5em;
    padding: 1.5em 0 .5em;
  }

  .gt-radius {
    display: none;
  }

  .gt-submit {
    float: right;
  }

  .gt-trigger-event {
    margin: auto;
    margin-bottom: 1em;
    padding-top: 1em;
    @include clearfix;
    // gray background event clusters
    // edit here if you want to change dem styles
    padding: 1em 6px 0 6px;
    width: 95%;
    border: 6px solid $lighter-gray;
    background-color: $lighter-gray;
  }

  .gt-notification-action {
    @include clearfix;
    padding: 0.5em 0;
  }

  .gt-notification-left {
    float: left;
    width: 40%;
  }

  .gt-notification-right {
    float: right;
    width: 60%;
  }

  .gt-add-notification-action {
    float: right;
    width: 100%;
    text-align: right;
    padding: 0.5em 0;
  }

  .gt-add-trigger-event {
    float: right;
    .gt-button {
      margin-top: 0;
    }
  }
}