#gt-notes-region {
  height: auto;
  z-index: 2;
  position: relative;
  margin: 0 auto;
  width: 300px;
}

.gt-active {
  #gt-notes-region {
    padding-left: 40%;
  }
}

.gt-notification-list {
  list-style-type: none;
}

.gt-notification {
  @include border-radius(4px);
  @include box-shadow(0 0 12px rgba(0,0,0,0.2));
  background-color: rgba(38,38,38, 0.8);
  color: $white;
  display: none;
  margin: 4px 0;
  padding: 14px 20px;
  z-index: 9;

  &.error {
    background-color: rgba(180, 20, 20, 0.8);
  }

  .gt-close {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: #fafafa;
    float: right;
    margin-top: -3px;
    margin-right: -12px;
    opacity: 0.75;
    -webkit-appearance: none;

    &:hover {
      opacity: 1;
    }
  }
}