/* - - - - - - - - - - Panel - - - - - - - - - - */
.gt-panel {
  background-color: $lightest-gray;
  // background-color: rgba(251, 251, 251, .95);
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

/* - - - - - - - - - - Panel Top Bar - - - - - - - - - - */
.gt-panel-top-bar {
  background-color: $white;
  background-color: rgba(255, 255, 255, .6);
  width:100%;
  height:62px;
  line-height:62px;
  overflow: hidden;
  @include box-sizing(border-box);
  border-bottom:1px solid $lighter-gray;
  h3 {
    line-height: normal;
    margin-right: 62px;
    overflow: hidden;
    padding: .65em 12px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    &.gt-panel-top-bar-left {
      padding-left: 32px;
    }
    .gt-trigger-count {
      font-size: .7em;
      font-weight: 200;
    }
  }
  .gt-tool-create {
    float: left;
    font-size: 1em;
    position: absolute;
    right: 72px;
    margin-top: 8px;
    top: 0;
  }
}

.gt-panel-top-bar-button {
  background: transparent no-repeat center center;
  background-size: 24px;
  display: inline-block;
  float: left;
  height: 62px;
  width: 62px;

  @include box-sizing(border-box);
  @include transition(background-color 100ms linear);

  &.gt-close-drawer {
    background-image: url('../img/icons/x.png');
    border-left: 1px solid $lighter-gray;
    position: absolute;
    top: 0;
    right: 0;

    @include retina-display() {
      background-image: url('../img/icons/x@2x.png');
    }
  }

  &.gt-back-to-list {
    background-image: url('../img/icons/left-arrow.png');
    border-right: 1px solid $lighter-gray;
    float: left;

    @include retina-display() {
      background-image: url('../img/icons/left-arrow@2x.png');
    }
  }
}

.gt-panel-content{
  @include box-sizing(border-box);
  width:100%;
  padding:2em;
  background-color:transparent;
}
/* not in use */
.gt-panel-wrap {
  width:100%;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  background:$white;
  //@include transition(transform 300ms ease-in);
  &.gt-panel-editing {
    //@include transform(translate3D(-50%,0,0));
    .gt-panel-edit {
      display: block;
    }
    .gt-panel-list {
      display: none;
      background-color: $white;
    }
  }
  &.gt-new {
    overflow-y: scroll;
    width: 100%;
    background-color: $lightest-gray;
  }
}
.gt-panel-list { left: 0; display:block; }
.gt-panel-edit { left: 0; display: none; }
