/* - - - - - - - - - - Panel - - - - - - - - - - */
.gt-panel {
  width:100%;
  position:absolute;
  top:0;
  bottom:0;
  background: $lightest-gray;
  -webkit-overflow-scrolling: touch;
  overflow-y:scroll;
}
.gt-panel-list { left: 0; display:block; }
.gt-panel-edit { left: 0; display: none;}

/* - - - - - - - - - - Panel Top Bar - - - - - - - - - - */
.gt-panel-top-bar {
  width:100%;
  height:62px;
  line-height:62px;
  overflow: hidden;
  @include box-sizing(border-box);
  background-color:$white;
  border-bottom: 1px solid $lighter-gray;
  // text-align:center;
  h3 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-left: 12px;
    &.gt-panel-top-bar-left {
      padding-left: 32px;
    }
  }
  .gt-tool-create {
    float: left;
    position: absolute;
    right: 72px;
    margin-top: 8px;
    top: 0;
  }
}

.gt-panel-top-bar-button {
  width:62px;
  height:62px;
  float:left;
  @include box-sizing(border-box);
  display:inline-block;
  background:$white;
  @include transition(background-color 100ms linear);
  &.gt-close-drawer {
    float:right;
    background:url('../img/icons/x.png') no-repeat center center transparent;
    @include retina-display(){background:url('../img/icons/x2x.png') no-repeat center center transparent; background-size: 24px;}
    border-left: 1px solid $lighter-gray;
    @include retina-display() {
      background: url('../img/icons/x2x.png') no-repeat center center transparent;
      background-size: 24px;
    }
  }
  &.gt-back-to-list {
    float:left;
    background:url('../img/icons/left-arrow.png') no-repeat center center transparent;
    border-right:1px solid $lighter-gray;
    @include retina-display(){background:url('../img/icons/left-arrow2x.png') no-repeat center center transparent; background-size: 24px;}
  }
  &.gt-new-trigger {
    @extend .gt-back-to-list;
    background:url('../img/icons/create.png') no-repeat center center transparent;
    border-right: 1px solid $lighter-gray;
    @include retina-display(){background:url('../img/icons/create2x.png') no-repeat center center transparent; background-size: 24px;}
  }
}

.gt-panel-content{
  @include box-sizing(border-box);
  width:100%;
  padding:2em;
  background-color:transparent;
}
