/* - - - - - - - - - - Left Toolbar - - - - - - - - - - */
#gt-controls-region {
  background: $darker-gray;
  border-right: 1px solid $darkest-gray;
  width: 70px;
  overflow: hidden;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  .gt-tool {
    background: no-repeat center center transparent;
    background-size: 24px;
    border: none;
    border-top: 1px solid $dark-gray;
    border-bottom: 1px solid $darkest-gray;
    color: $white;
    cursor: pointer;
    display: block;
    height: 0;
    opacity: 0.7;
    overflow: visible;
    padding: 30px 35px;
    position: relative;
    width: 0;

    @include transition(opacity 200ms linear);

    &.gt-tool-list      { background-image: image-url('list.png'); }
    &.gt-tool-create    { background-image: image-url('create.png'); }
    &.gt-tool-polygon   { background-image: image-url('polygon.png'); }
    &.gt-tool-radius    { background-image: image-url('radius.png'); }

    @include retina-display {
      &.gt-tool-list      { background-image: image-url('list@2x.png'); }
      &.gt-tool-create    { background-image: image-url('create@2x.png'); }
      &.gt-tool-polygon   { background-image: image-url('polygon@2x.png'); }
      &.gt-tool-radius    { background-image: image-url('radius@2x.png'); }
    }

    &:before {
      content: "";
      opacity: 0;
      padding: 0;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      @include background-image(radial-gradient(100% 100%, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%));
    }

    &:hover {
      opacity: 1;

      &:before {
        opacity: 0.3;
      }
    }

    &.gt-active {
      opacity: 1;

      &:before {
        opacity: 1;
      }
    }
  }
}
