/* - - - - - - - - - - Left Toolbar - - - - - - - - - - */
#gt-controls {
  position:absolute;
  z-index:3;
  width:70px;
  top:0;
  bottom:0;
  background:$darker-gray;
  left:0;
  border-right:1px solid $darkest-gray;
  .gt-control {
    width:70px;
    padding:0;
    height:60px;
    color:white;
    display:block;
  }
  .gt-tool {
    width:70px;
    height:60px;
    background-color:$darker-gray;
    color:$white;
    display:block;
    padding:0;
    opacity:0.7;
    @include transition(opacity 200ms linear);
    border-top:1px solid $dark-gray;
    border-bottom:1px solid $darkest-gray;
    &.gt-tool-list {background:url('/dist/img/icons/list.png') no-repeat center center transparent; background-size:24px;}
    &.gt-tool-create {background:url('/dist/img/icons/create.png') no-repeat center center transparent; background-size:36px;}
    &.gt-tool-polygon {background:url('/dist/img/icons/polygon.png') no-repeat center center transparent; background-size:24px;}
    &.gt-tool-distance {background:url('/dist/img/icons/radius.png') no-repeat center center transparent; background-size:24px;}
    &.gt-tool-drivetime {background:url('/dist/img/icons/drivetime.png') no-repeat center center transparent; background-size:24px;}
    &:before {
      content:"";
      width:70px;
      height:60px;
      display:block;
      @include background-image(radial-gradient(100% 100%, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%));
      opacity:0;
    }
    &:hover {
      opacity:1;
      @include transition(opacity 200ms linear);
      &:before{
        opacity:0.3;
      }
    }
    &.active {
      opacity:1;
      @include transition(opacity 200ms linear);
      &:before {
        opacity:1;
      }
    }
  }
}