/* - - - - - - - - - - New Geotrigger Form - - - - - - - - - - */
.gt-trigger-title-input {
  width:100%;
  margin-bottom:1em;
}
.gt-tag-label {
  margin-right: 3%;
  width: 40%;
  display: inline-block;
  margin-top: 1.25rem;
}
.gt-tag-input {
  width:55%;
  float:right;
}
.gt-event {
  width:39%;
  margin-right:5%;
}
.gt-geometry-type {
  width:55%;
  float:right;
}
.gt-action {
  width:60%;
}
.gt-date-start {
  width:23%;
  margin-left:3%;
  margin-right:3%;
}
.gt-date-end {
  width:30%;
  margin-left: 3%;
}

/* - - - - - - - - - - Trigger List - - - - - - - - - - */
.gt-list-header {
  border-bottom:1px solid $light-gray;
}

.gt-search {
  width: 100%;
  @include box-sizing(border-box);
  background: url(/dist/img/icons/search.png) no-repeat left center transparent;
  padding: 0.5em 2em 1em 2em;
  margin-left: 1em;
  @include retina-display(){ background: url(/dist/img/icons/search2x.png) no-repeat left center transparent; background-size: 24px;}
  input[type="search"]{
    margin-left: 0.5em;
    padding: 0.75em 0.66em 0.75em 0.66em;
//     border: none;
//     color: $darkest-gray;
//     font-weight: 600;
//     font-size: 1.5em;
//     &:focus {
//       color:$darkest-gray;
//     }
  }
}
.gt-result-link {
  background-color: $white;
  text-decoration: none;
  @include transition(background-color 200ms linear);
  height:auto;
  position:relative;
  width:100%;
  &:hover {
    background-color: $lighter-gray;
  }
}
.gt-result {
  width:100%;
  padding:1em 1em 1em 1em;
  border-bottom:1px solid $light-gray;
  position:relative;
  @include box-sizing(border-box);
  overflow:hidden;
  // position:relative;
  .gt-item-edit {
    cursor: pointer;
  }
  .gt-icon-enter {
    width:48px;
    height:48px;
    display:inline-block;
    // background-size: 40px;
    float: left;
    cursor: pointer;
    // position: absolute;
    // left: 10px;
    // top: 50%;
    margin-top: 6px;
    background: url('/dist/img/icons/enter-polygon.png') no-repeat center center transparent;
    &.gt-icon-polygon {background: url('/dist/img/icons/enter-polygon.png') no-repeat center center transparent;}
    &.gt-icon-radius {background: url('/dist/img/icons/enter-radius.png') no-repeat center center transparent;}
    &.gt-icon-drivetime{background: url('/dist/img/icons/enter-drivetime.png') no-repeat center center transparent;}
    @include retina-display(){
      background: url('/dist/img/icons/enter-polygon2x.png') no-repeat center center transparent; background-size: 36px;
      &.gt-icon-polygon {background: url('/dist/img/icons/enter-polygon2x.png') no-repeat center center transparent; background-size: 36px;}
      &.gt-icon-radius {background: url('/dist/img/icons/enter-radius2x.png') no-repeat center center transparent; background-size: 36px;}
      &.gt-icon-drivetime{background: url('/dist/img/icons/enter-drivetime2x.png') no-repeat center center transparent; background-size: 36px;}
    }
  }

  .gt-icon-exit {
    @extend .gt-icon-enter;
    &.gt-icon-polygon {background: url('/dist/img/icons/exit-polygon.png') no-repeat center center transparent;}
    &.gt-icon-radius {background: url('/dist/img/icons/exit-radius.png') no-repeat center center transparent;}
    &.gt-icon-drivetime{background: url('/dist/img/icons/exit-drivetime.png') no-repeat center center transparent;}
    @include retina-display {
      &.gt-icon-polygon {background: url('/dist/img/icons/exit-polygon2x.png') no-repeat center center transparent; background-size: 36px;}
      &.gt-icon-radius {background: url('/dist/img/icons/exit-radius2x.png') no-repeat center center transparent; background-size: 36px;}
      &.gt-icon-drivetime{background: url('/dist/img/icons/exit-drivetime2x.png') no-repeat center center transparent; background-size: 36px;}
    }
  }
  h5 {
    // width: 100%;
    padding-left: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.5em;
    vertical-align: top;
    margin-bottom: 0.5em;
    margin-right: 93px;
    a {
      color: $dark-gray;
      text-decoration: none;
      @include transition(color 100ms linear);
      &:hover {
        color: $blue;
      }
    }
  }
}
.gt-tags {
  display:block;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom:12px;
  padding-left: 1rem;
  // width: 100%-4.2rem;
  float: left;
  li {
    list-style-type: none;
    border: none;
    color: $gray;
    margin-right: 3px;
    display: inline;
    overflow-x: scroll;
  }
}
.gt-item-controls {
  width: 5.2em;
  text-align: right;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -12px;
  li {
    float: right;
    list-style-type: none;
    margin-right: 3px;
    .gt-button-small {
      width: 2.5rem;
    }
    &:first-child {
      float: left;
      padding-top: 0.45rem;
    }
  }
}

/* - - - - - - - - - - Delete - Confirm Delete - - - - - - - - - - */
.gt-item-delete {
  margin-top: 0;
  &:before {
    content: "delete";
  }
}

.gt-item-confirm-delete {
  margin-top: 0;
  background-color:$red;
  border: 1px solid darken($red, 10%);
  @include transition(background-color 20ms linear);
  &:hover {
    background-color: darken($red, 10%);
  }
  &:before {
    content: "sure?";
  }
}

.gt-reset-delete {
  //@include transform(translate3D(18px,0,0));
  // margin-top: 0.4rem;
  position: absolute;
  text-decoration: none;
  color: $gray;
  visibility: hidden;
  &.gt-reset-flyout {
    color: $gray;
    visibility: visible;
    display:block;
    @include transition(transform 100ms ease-in);
    &:hover {
      color: $red;
    }
  }
}

/* - - - - - - - - - - No Triggers - Getting Started - - - - - - - - - - */
.gt-panel-no-triggers {
  width:100%;
  padding:1em 2em 1em 2em;
  border-bottom:1px solid $light-gray;
  @include box-sizing(border-box);
  overflow:hidden;
  position:relative;
  text-align: center;
}
.gt-tool-description {
  width:100%;
  padding:1em 2em 1em 60px;
  border-bottom:1px solid $light-gray;
  @include box-sizing(border-box);
  overflow:hidden;
  position:relative;
  h5 {
    line-height: 1.5em;
    vertical-align: top;
    margin-bottom: 0.5em;
    a {
      color: $dark-gray;
      text-decoration: none;
      @include transition(color 100ms linear);
      &:hover {
        color: $green;
      }
    }
  }
  p {
    line-height: 1.25em;
  }
  .gt-icon {
    width:40px;
    height:40px;
    display:inline-block;
    // background: url('/dist/img/icons/enter-polygon.png') no-repeat center center transparent;
    // background-size: 40px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -20px;
  }
  .gt-icon-polygon {background:url('/dist/img/icons/polygon-dark.png') no-repeat center center;}
  .gt-icon-radius {background:url('/dist/img/icons/radius-dark.png') no-repeat center center;}
  .gt-icon-create {background:url('/dist/img/icons/create-dark.png') no-repeat center center;}
  @include retina-display {
    .gt-icon-polygon {background:url('/dist/img/icons/polygon-dark2x.png') no-repeat center center; background-size:24px;}
    .gt-icon-radius {background:url('/dist/img/icons/radius-dark2x.png') no-repeat center center; background-size:24px;}
    .gt-icon-create {background:url('/dist/img/icons/create-dark2x.png') no-repeat center center; background-size:24px;}
  }
}
