@import "compass";
@import "config";
@import "base/reset";
@import "base/mixins";
@import "base/typography";
@import "base/forms";
@import "base/buttons";
@import "base/tooltips";

//STRUCTURE
@import "helpers";
@import "toolbar";
@import "drawer";
@import "panel";
@import "triggers";
@import "notifications";

#gt-regions {
  @include clearfix;
  position: relative;
  width: 100%;
  height: 100%;
}

#gt-content {
  @include full;
  left: 70px;

  &.gt-active {
    #gt-drawer-region {
      width: 40%;
    }
    #gt-map-region {
      width: 60%;
    }
  }
}

#gt-drawer-region {
  @include full;
  z-index:2;
  right: auto;
  width: 0;
}

#gt-map-region {
  @include full;
  left: auto;
  width: 100%;
}

#gt-map {
  @include full;
}

#gt-cont

.gt-open-drawer {
  width: 100%;
  #gt-map {
    width: 60%;
  }
}

.gt-container {
  box-sizing:border-box;
  position:absolute;
  z-index:2;
  width:50%;
  top:0;
  bottom:0;
  left:0;
  background-color:transparent;
}