@import "compass";

#gt-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.gt-container{
  box-sizing:border-box;
  position: absolute;
  z-index: 2;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color:transparent;
  @include transition(transform 300ms ease-in);
  &.closed {
    @include transform(translate3D(-100%,0,0))
    @include transition(transform 300ms ease-in);
  }
}
.gt-controls {
  position:absolute;
  z-index:3;
  width:80px;
  top:0;
  bottom:0;
  background:transparent;
  right: -80px;
  .gt-control {
    width: 80px;
    padding:0;
    height:80px;
    color:white;
    background-color:grey;
    display:block;
    border-bottom:1px solid black;
  }
  .gt-tool {
    width:40px;
    height:40px;
    background-color:#232323;
    color:#fff;
    display:block;
    padding:0;
    margin-top:2px;
  }
}
.gt-sidebar {
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  @include box-sizing(border-box);
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
  left:0;
  z-index:2;
  background:#fefefe;
}