@import "compass";

$white:          #fff;
$off-white:      #fefefe;
$lightest-gray:  #fbfbfb;
$dark-gray:      #232323;

#gt-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.gt-container{
  box-sizing:border-box;
  position: absolute;
  z-index: 2;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color:transparent;
  @include transition(transform 300ms ease-in);
  &.closed {
    @include transform(translate3D(-100%,0,0));
    @include transition(transform 300ms ease-in);
  }
}
.gt-controls {
  position:absolute;
  z-index:3;
  width:80px;
  top:0;
  bottom:0;
  background:$dark-gray;
  left: 0;
  .gt-control {
    width: 80px;
    padding:0;
    height:80px;
    color:white;
    display:block;
    border-bottom:1px solid black;
  }
  .gt-tool {
    width:40px;
    height:40px;
    background-color:$dark-gray;
    color:$white;
    display:block;
    padding:0;
    margin-top:2px;
    &.gt-tool-list {background:url('/dist/img/icons/list.png') no-repeat center center transparent;}
    &.gt-tool-polygon {background:url('/dist/img/icons/polygon.png') no-repeat center center transparent;}
    &.gt-tool-distance {background:url('/dist/img/icons/radius.png') no-repeat center center transparent;}
    &.gt-tool-drivetime {background:url('/dist/img/icons/drivetime.png') no-repeat center center transparent;}
  }
}



.gt-sidebar {
  position:absolute;
  right:0;
  top:0;
  bottom:0;
  @include box-sizing(border-box);
  @include box-shadow(0 0 20px rgba(0,0,0,0.5));
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
  left:0;
  z-index:2;
  background:$off-white;
  border-right:$lightest-gray;
}