<div data-extra="properties" class="gt-property">
  <div class="gt-property-header">
    properties <small>arbitrary JSON object saved with the trigger</small>
    <a class="gt-remove-extra gt-delete-icon"></a>
  </div>

  <div class="gt-property-item">
    <textarea class="gt-input" name="properties" placeholder='{ "property": "value" }'>{{stringify properties}}</textarea>
  </div>
</div>
