<div data-extra="rateLimit" class="gt-property">
  <div class="gt-property-header">
    rate limit <small>minimum number of seconds between executions, per device</small>
    <a class="gt-remove-extra gt-delete-icon"></a>
  </div>

  <div class="gt-property-item">
    <input class="gt-input-fill" type="text" name="rateLimit" placeholder="0" value="{{ rateLimit }}">
  </div>
</div>
