<div data-extra="times" class="gt-property">
  <div class="gt-property-header">
    times <small>maximum number of executions, per device</small>
    <a class="gt-remove-extra gt-delete-icon"></a>
  </div>

  <div class="gt-property-item">
    <input class="gt-input-fill" type="text" name="times" placeholder="0" value="{{ times }}">
  </div>
</div>
