<div data-extra="triggerId" class="gt-property">
  <div class="gt-property-header">
    Trigger ID
    <a class="gt-remove-extra gt-delete-icon"></a>
  </div>

  <div class="gt-property-item">
    <input class="gt-input-fill" type="text" name="triggerId" placeholder="custom trigger ID" value="{{triggerId}}">
  </div>
</div>
